# Supabase
SUPABASE_URL=""
SUPABASE_KEY=""
SUPABASE_SERVICE_KEY=""

# OpenAI
OPENAI_API_KEY=""

# Database
DATABASE_URL="prisma://..."

# ElevenLabs for Text-to-Speech and Speech-to-Text
ELEVENLABS_API_KEY=""

# Brave Search API
BRAVE_API_KEY=""

# Logging (optional)
LOGTAIL_SOURCE_TOKEN=""